
.topbar{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 18px 40px;
    position:sticky;
    z-index:1000;
    top:0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}

.topbar h1 {
    /*Portfolio size*/
    margin:0;
    font-size: 57px;
}

.resume{
    margin: 10px /* This pushes the background div words a little bit to the right*/
}

.topbar nav{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.topbar ul {
    display:flex;
    gap:30px;
    list-style:none;
    margin:0;
    padding:0;
}

.profile-image{
    width:320px;
    height: auto;
    border-radius: 30px;
}

.profile-wrapper{
    max-width: 400px;
}


nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    margin:0;
    padding:0;
}

nav a{
    text-decoration:none;
    color: #1a1a1a;;
    font-weight: 600;
    position:relative;
    padding-bottom:4px;
}

nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #000;
    transition: transform 0.2s ease;
}

nav a:hover::after{
    width: 100%;
}

h1{
    margin: 0;
    line-height: 1;
    font-size: 28px;
    font-weight: 700;
    letter-spacing:0.5px
    
}

.about-section{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 70px;
    padding: 50px 40px;
    justify-content: space-between;
}

.about-text{
    flex:1;
    max-width:650px;
}

.about-image{
    flex-shrink:0;
}

.profile-image{
    width: 320px;
    height: auto;
    border-radius: 30px;
}

/* Page layout */
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    min-height:100vh;
    position:relative;
    overflow-x:hidden;
}

/* REAL Background-image (sharp) */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:url("light-orange-blurred-bg.jpg") center/cover no-repeat;
    z-index:-2;
}

footer{
    margin-top:120px;
}

.footer{
    text-align:center;
    padding:80px 20px 40px;
}

.socials{
    display:flex;
    justify-content:center;
    gap:35px;
    margin-top:25px;
}

.socials img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 75%; /* this reduces the bg area around the footer logos*/
    transition:transform 0.25s ease, filter 0.25s ease;
}

/* hover animation */
.socials img:hover{
    transform:translateY(-6px) scale(1.1);
    filter:brightness(1.2);
}

.footer{
    text-align:center;
    padding:80px 20px 40px;
}

.socials{
    display:flex;
    justify-content:center;
    gap:35px;
    margin-top:25px;
}

.socials img{
    width:42px;
    height:42px;
    transition:transform 0.25s ease, filter 0.25s ease;
}

/* hover animation */
.socials img:hover{
    transform:translateY(-6px) scale(1.1);
    filter:brightness(1.2);
}

.bottom-bar{
    text-align:center;
    margin-top: 60px;
    padding: 5px 0;
}

.bottom-bar p{
    font-size: 12px;
    color: #000
    letter-spacing: 0.2px;

}



